.tovar {
    width: 340px;
    height: 402px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    border: 1px solid rgba(236, 234, 231, 1);
    padding: 20px 10px;

    img {
        height: 154px;
        width: 80%;
        object-fit: cover;
        border: 1px solid rgba(236, 234, 231, 1);
        border-radius: 100%;
        margin: 0;
        padding: 0;
    }

    h1 {
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 24px;
        leading-trim: NONE;
        line-height: 22px;
        letter-spacing: 10%;
        text-align: center;
        text-transform: uppercase;
        max-width: 80%;
    }

    h3 {
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        color: rgba(114, 113, 110, 1);
        max-width: 80%;
    }

    h4 {
        margin: 0;
        padding: 0;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 400;
        font-size: 20px;
        leading-trim: NONE;
        line-height: 16px;
        letter-spacing: 0%;
        text-align: center;
        max-width: 80%;

        span {
            font-size: 14px;
            color: rgba(114, 113, 110, 1);
        }
    }

    button {
        width: 227px;
        height: 60px;
        border-radius: 60px;
        border: none;

        background-color: rgba(78, 118, 198, 1);

        font-family: 'Lucida Sans', ' Lucida Sans Regular', ' Lucida Grande', ' Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 500;
        font-size: 14px;
        leading-trim: NONE;
        line-height: 22px;
        letter-spacing: 10%;
        text-transform: uppercase;

        color: rgba(255, 255, 255, 1);
    }
}

