.leftHeaderBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

    img{
        height: 100%;
        width: 100%;
    }
}

.textCatalog{
    color: rgba(114, 113, 110, 1);
    font-size: 14px;
    font-family: inherit;
    text-decoration: none;
}