.prints {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    margin: 0;

    h1 {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 10%;
        text-transform: uppercase;
        color: rgba(30, 30, 30, 1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    &>div {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        &>div {
            width: 114px;
            height: 42px;
            display: flex;
            gap: 8px;
            background-color: rgba(245, 243, 240, 1);
            border-radius: 6px;
            align-items: center;
            justify-content: center;

            img {
                width: 26px;
                height: 26px;
                object-fit: 100%;
                overflow: hidden;
                border-radius: 6px;
            }
        }
    }
}