.headerBlockBg{
    border-bottom: 1px solid rgba(236, 234, 231, 1);
    width: 100%;
}

.headerBlock{
    display: flex;
    width: calc(100% - 200px);
    margin: 0 auto;
    height: 60px;
    align-items: center;
    justify-content: space-between;

}

.pravCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 89, 255);
}

.pravCont img{
    height: 20px;
}