.creativePage {
    display: flex;
    flex-direction: column;

    &>h1 {
        border-bottom: 2px solid black;
        width: 55%;
        padding-top: 40px;
        rotate: -5deg;
        font-size: 50px;
        transition: all 0.5s;
    }

    &>h1:hover {

        width: 60%;
        rotate: -9deg;
        font-size: 54px;

    }
}