.stuffBlock {
    display: flex;
    flex-direction: column;
    border-left: 1px solid rgba(236, 234, 231, 1);
    height: 100vh;
    padding-top: 5px;
}

h1 {
    padding-left: 40px;
    color: rgba(30, 30, 30, 1);
    font-size: 40px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}