.postForm {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: center;
    width: 700px;



    input {
        width: 95%;
        height: 70px;
        border-radius: 30px 00% 100% 0%;
        transition: all 0.5s;
       padding-left: 20px;
    }
    input:hover{
        width: 110%;
            height: 90px;
            box-shadow: 0px 10px 20px;
            
            rotate: -2deg;
    }

    input:active {
        border: 8px solid rgb(187, 32, 32);
        
    }

    button {
        background-color: rgb(255, 255, 255);
        color: rgb(46, 44, 44);
        border: 1px solid black;
        height: 100px;
        width: 100%;
        border-radius: 30px;
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        transition: all 0.2s;
    }
         button:hover {
             background-color: rgb(255, 255, 255);
             color: rgb(46, 44, 44);
             border: 3px solid black;
             height: 100px;
             width: 100%;
             border-radius: 30px;
             font-size: 41px;
             font-family: Georgia, 'Times New Roman', Times, serif;
            box-shadow: 0px 10px 20px;
            
                rotate: -2deg;
         }

    .vibor {
        position: relative;
        display: inline-block;
        transition: all 0.5s;
        width: 100%;
        height: 100px;

        input {
            position: absolute;
            z-index: 1;
            opacity: 0;
            display: block;
            height: 100px;

        }

        span {
            position: relative;
            display: inline-block;
            align-content: center;

            cursor: pointer;
            outline: none;
            text-decoration: none;
            font-size: 24px;
            vertical-align: middle;
            color: white;
            text-align: center;
            border-radius: 30px;
            background-color: rgb(180, 180, 180);
            line-height: 22px;
            height: 100px;
            width: 100%;
            padding: 10px 20px;
            box-sizing: border-box;
                border: 1px solid black;
            margin: 0;
            transition: all 0.5s;
        }

        &:hover {
            &>span {
                background-color: rgb(131, 137, 160);
                box-shadow: 0px 10px 20px black;
                
                    rotate: -2deg;
            }
        }

        &:active {
            &>span {
                background-color: rgb(100, 104, 121);
            }
        }
    }

}