.sizes {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 0;
    margin: 0;

    h1 {
        padding: 0;
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 10%;
        text-transform: uppercase;
        color: rgba(30, 30, 30, 1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    div {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        p {
            padding: 0;
            margin: 0;
            font-weight: 400;
            font-size: 14px;
            leading-trim: NONE;
            line-height: 16px;
            letter-spacing: 10%;
            text-transform: uppercase;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            color: rgba(30, 30, 30, 1);
            padding: 8px 10px;
            border: 2px solid rgba(233, 227, 215, 1);
        }
    }
}