.filterLineLeft {
    height: 79px;
    display: flex;
    align-items: center;
    gap: 29px;
    padding-left: 39px;
}

.filterElement {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    height: 7px;
    width: 7px;
}